/******************* F O N T S ***************************/
/*
font-family: 'Special Elite', cursive;
*/
/*********************************************************/
body {
  background-image: url(../images/chalkboard.jpg);
  background-position: 50%;
  background-size: cover;
  color: rgba(255,255,255,.6);
  font-family: 'Special Elite', cursive;
  text-align: center;
}
#container {
  border: 10px yellow solid;
}
.item {
  border-bottom: 5px dotted plum;
  margin: 0 3rem 2rem;
}
.clearfix:after {
  clear: both;
  content: " ";
  display: block;
  font-size: 0;
  height: 0;
  visibility: hidden;
}
input.factNumber {
  background: none;
  color: rgba(255,255,255,.6);
  font-size: 5em;
  margin: 0 auto;
  padding: 20px 0 0 0;
  text-align: center;
  width: 300px;
  display: block;
}
input.factDates {
  background: none;
  color: rgba(255,255,255,.6);
  font-size: 5em;
  margin: 0 auto;
  margin: 5px;
  padding: 20px 0 0 0;
  text-align: center;
  width: 150px;
}
button.btn {
  display: block;
  margin: 0 auto;
  margin-top: 20px;
  padding: 15px 10px;
}
p.trivia {
  font-size: 2em;
}
